body {
  background-color: rgb(154, 209, 242);
  margin: 0; /* Asegura que no haya márgenes blancos */
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif; /* Opcional: define una fuente global */
}